html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #ADADAD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamePanel {
    height: 50em;
    width: 100em;
    background-color: orange;
    border: 1px #383838 solid;
    display: grid;
    grid-template: repeat(40, 2.5%) /repeat(80, 1.25%) ;
}

#snakeHead {
    grid-area: 4 / 5 / 5 / 6;
}

.snake-element {
    background-color: greenyellow;
}

.pawn {
    background-color: deepskyblue;
}